<html>
<head>
    <title>GOURL</title>

    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div class="container-fluid">
        <div class="row" id="r1">
            <div id = "c1" class="col-md-12 well text-center text-primary panel">
                <span class="h1" id="header-txt">GOURL</span>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4 well panel panel-primary">
                <p>
                    <input class="form-control" type="text" name="long-url" placeholder="Long URL" required="" id="longurl">
                </p>
                <p>
                    <input type="submit" class="btn btn-primary pull-right" value="Short!" id="generate">
                </p>
            </div>
        </div>

        <br><br>

        <div class="row">
            <div class="col-md-5" id="c2">
                    <span class="text-primary" id="output_span">
                        Shorten URL: &nbsp;&nbsp;<span id="shorturl" class="text-primary">Provide a Link and Click Short!<span>
                    </span>
            </div>
        </div>

        <!-- footer -->
        <div class="row">
            <span id="footer-txt">
                &copy; 2016 GOURL - <a href="http://github.com/gayanch/gourl">github</a>
            </span>
        </div>
        <!-- end of footer -->
    </div>

    <script type="text/javascript" src="/static/jquery.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#generate").on("click", function (e) {
                var longurl = $("#longurl").val();
				$("#shorturl").html("A moment...")
                $.ajax({
                    url: "/",
                    type: "post",
                    data: {"longurl": longurl},
                    success: function (response, status) {
                        $("#shorturl").html(response)
                    }
                });
            })
        });
    </script>
    </body>
</html>
